@import './global';

body {
    background-color: hsl(330, 100%, 76%);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}

#gallery {
    .gallery-carousel {
        .flickity-viewport {
            overflow: hidden;
        }

        .cell {
            width: 100%;
            height: 100vh;
            padding: 1em;

            .cell-content {
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1em;

                .title {
                    font-size: 3em;
                    color: #fff;
                    font-family: $font-darling;
                    text-align: center;
    
                    text-shadow: 0.05em 0.05em hsl(330, 100%, 71%);
                }

                img {
                    max-width: min(100%, 512px);
                }

                .buttons {
                    display: flex;
                    align-items: center;
                    gap: 1em;
                    button {
                        padding: 0.5em 1.5em 0.5em 1.5em;
                        border-radius: 1em;

                        font-size: 1.5em;
                    }
                }
            }
        }   
    }
}

#thanks {
    background-color: hsla(330, 100%, 76%, 0.5);
    
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;

    .thanks-content {
        max-width: 1024px;
        padding: 1em;

        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .text {
            font-size: min(3em, 8vw);
            color: #fff;
            font-family: $font-bold;
            text-align: center;

            text-shadow: 0.05em 0.05em hsl(330, 100%, 51%);
        }
    }
}

#greeter {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1rem;

    .greeter-content {
        animation: greeter-reveal 2s cubic-bezier(.29,1.58,.27,1.68) 1s forwards;

        transform: rotateX(135deg) perspective(600px);
        transform-origin: center top;
        transform-style: preserve-3d;

        @keyframes greeter-reveal {
            100% {
                transform: rotateX(0deg);
            }
        }

        .greeter-hangers {
            display: flex;
            justify-content: space-around;

            div {
                width: 0.45em;
                height: 1.5em;

                background-color: white;
            }
        }
        .greeter-board {
            padding: 0.25em 0.5em 0.25em 0.5em;

            background-color: hsl(16, 50%, 55%);

            font-size: 3em;
            color: hsl(330, 100%, 90%);
            font-family: $font-darling;
            text-align: center;

            text-shadow: 0.05em 0.05em hsl(330, 100%, 71%);
        }
    }
}